body {
	background-color: #333;
	margin: 0;
}

.column {
	float: left;
	width: 47%;
	padding: 10px;
	margin: 10px;
	color: white;
	border-style: solid;
	border-color: white;
	text-align: center;
}

.columnstore {
	float: left;
	width: 43.75%;
	padding: 10px;
	margin: 10px;
	border-style: dashed;
	border-color: red;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.s1 {
	display: block;
}

.s2 {
	display: block;
}

.s3 {
	display: block;
}

/*span {
	display: block;
}*/